h2, h3, h4, h5, h6 {
	color: $color__primary-dark;
	line-height: 1.2em;
	margin: .5em 0;
}

h1 {
	color: $color__secondary-dark;
	@include font-size(2.5);
	line-height: 3.5rem;
	margin: .4em 0;
	@media screen and (max-width: $query__small) {
		@include font-size(2);
		line-height: 3rem;
	}
}
.entry-content {
	h2, h3, h4 {
		line-height: 2em;
	}
}

.error-404 h1 {
	@include font-size(9);
}