input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: 6px;
	background: $color__secondary-dark;
	color: $color__white;
	cursor: pointer;
	font-weight: 500;
	padding: .4em 1em;
}
a.button {
	background: $color__secondary;
	border-radius: $border-radius__button;
	color: $color__white;
	margin: 1em .5em .5em;
	padding: .5em .7em;
	&:hover, &:focus {
		&:not(.hero-button) {
			background: lighten(saturate($color__secondary, 17.89), 17.84);
			color: $color__white;
		}
	}
}
div.submit {
	margin-top: 1em;
	text-align: right;
}
.secondary-button,
.comment-reply-link {
	background: white;
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	border: 1px solid #ccc;
	border-radius: 30px;
	color: rgb(105, 105, 105);
	padding: .3em .8em;
	&:hover, &:focus {
		background: linear-gradient(to bottom, #ffffff 35%,#e5e5e5 100%);
	}
	&:active {
		background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%);
		color: rgb(167, 167, 167);
	}
}
.mp-thumb-button {
	background: $color__gray-light;
	border: 1px solid $color__gray-dark;
	box-shadow: 1px 1px 1px $color__gray-dark;
	cursor: pointer;
	@include font-size(.8);
	margin-bottom: 1em;
	padding: .2em 1em;
	&:hover, &:focus {
		background: darken($color__gray-light, 5%);
	}
	&:active {
		background: $color__gray;
		box-shadow: 1px 1px 1px $color__gray-dark,
					inset 1px 1px 1px $color__gray-dark;
	}
}
.mp-thumb-remove {
	color: $color__primary;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	font-size: 13px;
}