@import "buttons";

@import "fields";

.required {
    color: firebrick;
    font-weight: bold;
}
.success, .error {
    margin-bottom: 1em;
    padding: .5em 0;
    text-align: center;
    img {
        margin-right: .5em;
    }
}
.success {
    border: 1px solid green;
    color: green;
}
.error {
    border: 1px solid darkred;
    color: darkred;
}
.search-form {
    display: flex;
    margin-bottom: 1em;
    label {
        margin: 0;
        width: 70%;
        .search-field {
            border: 1px solid $color__input-border;
            border-radius: 6px 0 0 6px;
            border-right: 0;
            height: 100%;
            width: 100%;
        }
        input {
            margin: 0;
        }
    }
    .search-submit {
        background: $color__search-button;
        border: 1px solid darken($color__search-button, 10%);
        border-left: 0;
        border-radius: 0 6px 6px 0;
        flex: 1;
        &:hover, &:focus {
            background: darken($color__search-button, 6%);
        }
    }
}
@media screen and (min-width: $query__medsmall) {
    .member-post-row {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(100px, 49%) );
        grid-gap: 10px;
        img {
            display: inline;
            margin-right: .5em;
            vertical-align: middle;
        }
        .has-icon {
            width: 90%;
        }
    }
}

.login, .page-login, .entry-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
// Default WordPress login form
.login {
    @include font-size(.8);
    text-align: center;
    h1 a {
        background-position: center top;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
    }
    p {
        margin: 0 0 .5em;
    }
    #login {
        background: #ffffff;
        box-shadow: 0 1px 3px rgba(0,0,0,.13);
        max-width: 320px;
        padding: 1em 2em;
    }
    .submit {
        input {
            font-size: 15px;
        }
    }
    #login_error {
        color: $color__alert;
    }
    #backtoblog {
        display: none;
    }
}
.page-login {
	@media screen and (min-width: $query__login-medsmall) {
		align-items: center;
	}
	min-height: 100vh;
	justify-content: center;
	.login-content-area {
		align-items: center;
		height: 80%;
		justify-content: center;
		max-height: 500px;
		.login-header,
		.login-form {
			flex: 1;
			min-width: 300px;
			padding: 1em;
			width: 30%;
		}
		.login-header {
			align-items: center;
			align-self: stretch;
			background: $color__gray-light + e6;
		}
		.login-form {
			background: white;
        }
        .login-forgot {
            text-align: center;
        }
	}
}
.member-post-thumb-preview {
	color: $color__gray-dark;
	font-style: italic;
	font-family: $font__serif;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px dashed $color__gray;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}