.topbar {
    background: $color__primary;
    text-align: right;
	a {
        color: $color__white;
        display: block;
        @include font-size(.8);
        margin: .1em .5em .4em;
        &:hover {
            color: $color__tertiary;
        }
	}
}
.masthead {
	align-items: center;
	justify-content: space-between;
	padding: 1.5em;
	@media screen and (max-width: $query__med) {
		flex-direction: column;
		.header-widget {
			margin-left: 0;
			margin-top: 1.5em;
		}
	}
	@media screen and (max-width: $query__medsmall - 1px) {
		.header-branding {
			justify-content: center;
			text-align: center;	
			.site-meta {
				margin-left: 0;
				margin-top: 1em;
			}
		}
	}
	@media screen and (max-width: $query__small) {
		.header-widget {
			display: none;
		}
	}
	.header-branding {
		align-items: center;
		.site-meta {
			margin-left: 1em;
		}
		.site-title,
		.site-tagline {
			margin: 0;
		}
	}
	.header-widget {
		margin-left: 1.5em;
		.widget {
			display: flex;
		}
	}
}

.hero {
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px;
	min-height: 16vw;
}
.hero-home {
	align-content: center;
	justify-content: center;
	@media screen and (max-width: $query__medsmall) {
		h1, .hero-button {
			font-size: 7vw;
		}
	}
	@media screen and (max-width: $query__xlarge) {
		h1 {
			max-width: 600px;
		}
	}
	h1 {
		margin: 0 auto .5em;
		padding: .1em;
	}
	h2 {
		margin: 0 0 1em;
	}
	.hero-button {
		margin: 0 auto;
		padding: .3em 1em;
	}
}