
.menu {
    margin: 0;
    padding-left: 0;
    li {
        display: inline-block; // Show the li elements in a row.
    }
}
.main-nav {
	background: $color__nav-bg;
	border-bottom: 2px solid $color__primary-light;
	border-top: 1px solid $color__gray-light;
	a, .parent {
        border: 1px solid $color__gray-light;
        color: $color__primary; // Prevent visited links from showing a different color
        font-weight: 700;
		text-decoration: none;
	}
	.active > a, .active-parent {
		color: $color__primary-dark;
	}
}
.parent {
    background: $color__nav-bg;
    img {
        height: 12px;
        margin-left: .5em;
    }
    &:active {
        padding: 0;
    }
}
.sub-menu {
    display: none;
}
.parent-opened {
    img {
        transform: rotate(180deg);
    }
}
@media screen and (min-width: $query__med) {
    .main-nav a,
    .main-nav .parent {
        padding: 1em;
        transition: background .5s ease;
		&:hover, &:focus {
            background: $color__gray-light;
        }
        &:not(.nav-toggle) {        
            display: inline-block;
        }
    }
    .sub-menu {
        background: $color__gray-light;
        left: 0;
        padding: 1em;
        position: absolute;
        top: 3.5em;
        width: 100%;
        z-index: 2;
        li {
            margin-right: 2em;
        }
        a {
            border: 0;
            font-weight: 400;
            padding: 0;
        }
    }
    .parent {
        cursor: pointer;
    }
    .has-parent-opened {
        margin-bottom: 3.5em;
    }
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}
#site-navigation {
    position: relative;
    transition: margin .2s ease;
}
/*! responsive-nav.js 1.0.39 by @viljamis */
@media screen and (max-width: $query__med) {
    .nav-toggle {
        display: inline-block;
        width: 100%;
    }
    .nav-collapse {
        li, a, .parent {
            background: $color__gray-light;
            display: block;
            font-weight: 400;
            width: 100%;
        }
        li {
            padding: .5em 1em;
        }
        .parent {
            padding: 0;
            text-align: left;
        }
    }
    .sub-menu {
        padding: .5em 0 0 .5em;
    }
}

.js .nav-collapse {
clip: rect(0 0 0 0);
max-height: 0;
position: absolute;
display: block;
zoom: 1;
}

.nav-collapse.opened {
max-height: 9999px;
}

.nav-toggle {
    padding: 1em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    user-select: none;
}

.pagination {
    margin-top: 2em;
    text-align: center;
    a, span {
        display: inline-block;
        margin: 0 .3em;
    }
    .current {
        background: $color__primary;
        border-radius: $border-radius__button;
        color: $color__white;
        padding: 0 .5em;
    }
}