[class^=widget_] {
	@include font-size(.9);
}
.widget_nav_menu {
	.menu li {
		display: block;
	}
}
.widget_archives,
.widget_categories,
.widget_links,
.widget_meta,
.widget_nav_menu,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	ul, ul.menu {
		list-style: none;
		padding: 0;
	}
}
.widget_calendar {
    caption {
        font-size: 1.3em;
        margin-bottom: .5em;
    }
    td {
        height: 45px;
        width: 45px !important;
    }
}
.widget_recent_entries {
	li {
		padding: .3em .5em;
	}
}
.widget_text {
	img.svg { // Shortcode SVG icons
		display: inline-block;
		vertical-align: middle;
	}
	address {
		p {
			display: flex;
		}
		span {
			margin-left: .5em;
		}
	}
}

.widget_events,
.widget_recent_comments,
.widget_rss {
	ul {
		margin-top: 0;
		li {
			border: 1px solid $color__gray-light;
			border-top: 0;
			padding: .5em;
		}
	}
}
.widget_recent_comments ul li {
	display: flex;
	width: 100%;
}

#wp-calendar {
	tbody {
		text-align: center;
	}
}

.widget-name {
	color: $color__white;
	a,
	a:focus,
	a:hover {
		color: $color__white;
	}
}

.sidebar {
	.widget-name {
		background: $color__primary-light;
		font-size: 18px;
		margin: 0;
		padding: .5em;
	}
}
.widget-rss {
	align-items: center;
	img {
		height: 16px;
		margin-right: .5em;
	}
}

.widget_media_gallery {
	.gallery-item {
		margin: 0;
	}
	.gallery-caption {
		display: none;
	}
}