/*
 * Community
 *
 * Description: Styles for BuddyPress pages.
 * Version: 1.0.0
 * License: GPL 3.0 or later
 */

/* ---------------------
  * CONTENTS:
  * =Profile
  * =Widgets
  * =Directory
 --------------------- */

.bp-screen-reader-text {
	@extend .screen-reader-text;
}

#sitewide-notice { /* TODO: This */
	bottom: 0;
	width: 100%;
	padding: 1rem 1rem 0;
	position: fixed;

	.bp-tooltip {
		float: right;
	}
}

.notifications-options-nav {
	@extend .flex;
	justify-content: space-between;
}

.bulk-select-check {
	text-align: center;
}

.generic-button {
	margin-top: 1rem;

	a {
		@extend .button-secondary;
	}
}

/* Single Profile */

.profile__header {
	margin-bottom: 2rem;

	.profile__header__title {
		display: inline;
		margin: 0; // In case there's more text meta underneath
	}

	.nav-edit {
		display: inline; /* Inline the edit button next to the username */

		.nav-edit__item svg {
			width: 2rem;
		}
	}
}

.profile__subtitle {
	svg {
		margin-bottom: -0.3rem;
		margin-right: 0.5rem;

		path {
			fill: $color__dark;
		}
	}
}

.profile__section_header {
	justify-content: space-between;
	align-items: center;
}

.profile__avatar {
	img {
		margin-left: 1rem;
		margin-top: -5rem;
		max-width: 150px;
		width: 10vw;
	}
}

.profile__avatar-mobile {
	text-align: center;
}

.entry__meta-contact {
	p {
		line-height: 1.5;
	}

	.profile__field__value:first-of-type { /* First contact field */
		font-size: 2rem;
		margin-bottom: 0.35rem;
		word-break: break-all; // Just in case?
	}
}

.nav-social {
	a {
		display: inline-block;
		outline: 0;
		padding: 0.1rem;

		&:hover,
		&:focus,
		&:active {
			opacity: 0.6;
		}
	}

	svg {
		width: 2rem;
	}
}

.entry__meta-map {
	height: $size__height-thumbnail;

	&:empty {
		display: none;
	}
}

.entry__meta-address {
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;

	p {
		font-size: 0.9rem;
		line-height: 1.6;
	}
}

.entry__meta-misc {
	font-size: 0.8rem;
}

/* Profile Settings Pages */

.nav-profile {
	font-size: 0.9rem;

	li {
		font-weight: 800;
		text-transform: uppercase;

		&:not(:last-of-type) {
			margin-right: 1rem;
		}
	}

	.active,
	.current {
		a {
			color: $color__primary-dark;
		}
		border-bottom: 2px solid $color__primary;
	}
}

.nav-profile-sub {
	font-size: 0.8rem;

	li:not(:last-of-type) {
		margin-right: 0.5rem;
	}
}

.profile__edit__field {
	margin-bottom: 2rem;

	.profile__edit__field__title {
		font-weight: 600;
		margin: 1rem 0;

		svg {
			margin-bottom: -0.1rem;
			width: 1rem;
		}
	}

	.profile__edit__field__desc {
		color: $color__gray-dark;
		font-size: 0.9rem;
	}
}

.profile__edit__field-location__inner {
	position: relative;

	input {
		padding-left: 2.2rem;
	}

	svg {
		left: 2%;
		position: absolute;
		top: 0.5rem;
		width: 1.5rem;
	}
}

.form__submit {
	margin: 1rem 0;
	text-align: right;
}


#bp-delete-cover-image-container,
#bp-delete-avatar-container {
	margin: 1rem 0;

	p:last-of-type {
		text-align: right;
	}
}

.profile-avatar__header {
	align-items: center;
	margin: 1rem 0;
}

/* Members Directory */

.members__map {
	height: $size__height-thumbnail;
}

.members__list {
	display: grid;
	grid-gap: 0.3rem;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding-left: 0;

	.members__item__img {
		flex: 0 0 105px;
	}

	li { // Members as they appear in the directory
		align-items: center;
		border: 1px dashed $color__card-border;
		margin: 0;
		padding: 0.3rem;

		.field-value {
			font-size: 0.8rem;
			margin: 0;
		}
	}
}

.members__cats {
	border: 1px solid $color__input-border;
	padding: 1rem;

	.nav__list-h li:not(:last-of-type) {
		font-size: 0.9rem;
		font-weight: 700;
		margin-right: 0.5rem;
		text-transform: uppercase;
	}
}

.members__item__content {
	h3,
	p {
		margin: 0;
	}

	h3 {
		font-family: $font__main;
		font-weight: 500;
	}

	.profile__field__value {
		a {
			color: $color__gray-dark;
		}
	}
}

.members__nav-pagination {
	text-align: center;
}

/* Widgets */

.buddypress.widget {
	.widget-error {
		@extend .fancy;
		padding: 0.3rem;
	}

	.item-options {
		margin: 0;

		.bp-separator {
			display: none;
		}
	}
}

.widget_bp_core_login_widget {
	.bp-login-widget-user-avatar {
		float: left;
		margin-right: 1rem;
		margin-top: 0.7rem;
	}

	.bp-login-widget-user-link {
		font-size: 1rem;
	}
}

.widget_bp_core_members_widget {
	ul {
		list-style: none;
		margin: 0 0 0.3rem;
		padding: 0;

		.vcard {
			display: flex;

			.item-avatar {
				margin: 0.3rem 0.3rem 0.3rem;
				width: 43px;
			}

			.item-title {
				font-size: 0.9rem;
			}

			.item-meta {
				font-size: 0.8rem;
			}
		}
	}
}

.widget_bp_core_recently_active_widget,
.widget_bp_core_whos_online_widget {
	.avatar-block {
		display: flex;
		flex-wrap: wrap;

		.item-avatar {
			flex: 0 0 10%;
		}
	}
}
