.profile-actions {
    justify-content: right;
}
.generic-button {
    background: $color__nav;
    @include font-size(.8);
    margin-left: .5em;
    padding: 0 .2em;
}
.profile-cover,
.profile-info {
    position: relative;
}
.profile-cover {
    .profile-img-edit {
        bottom: 5px;
        right: 5px;
    }
}
.profile-cover-img {
    display: block;
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.profile-nocover-info {
    align-items: flex-end;
    margin-bottom: .5em;
}
.profile-social {
    padding: .3em;
    position: absolute;
    right: 0;
    a {
        display: inline-block;
        padding: .2em;
    }
    img { // Social media icons
        height: 36px;
        width: auto;
    }
}
.profile-img-edit {
    background: $color__gray-light;
    height: 0;
    position: absolute;
    width: 0;
    &:focus,
    &.hover {
        height: initial;
        padding: 5px;
        width: initial;
    }
}
.profile-avatar {
    max-width: 18vw;
    .profile-img-edit {
        right: 5px;
        top: 5px;
    }
}
.profile-meta {
    margin: .5em 0;
    h1 {
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width: $query__medsmall) {
    .profile-avatar {
        left: 20px;
        position: absolute;
        top: -90px;
    }
    .profile-meta {
        margin-left: 190px;
        min-height: 72px;
    }
}
@media screen and (max-width: $query__medsmall - 1px) {
    .profile-info {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .profile-cover-img {
        height: 90px;
    }
    .profile-meta {
        h1 {
            @include font-size(1.5);
        }
    }
}
.profile-nocover-meta {
    margin-left: 10px;
    h1 {
        @include font-size(2.2);
        margin: 0;
        padding: 0;
    }
}
.profile-nav {
    background: $color__nav-bg;
    a {
        color: $color__primary;
        display: inline-block;
        font-weight: 500;
        padding: .5em;
        &:hover {
            background: $color__gray-light;
        }
    }
}
.settings-subnav {
    @include font-size(.8);
    margin-top: 1em;
    a {
        display: inline-block;
        margin: .5em;
    }
    li {
        border: 1px solid $color__gray-light;
        border-radius: 6px 6px 0 0;
        margin: 0 .2em;
    }
    .active {
        a {
            color: $color__primary-dark;
        }
        border-bottom: 2px solid $color__primary;
    }
}
.profile-subnav {
    @extend .settings-subnav;
    margin-bottom: 1em;
}

.profile-content {
    border: 1px solid $color__gray-light;
    padding: 1em;
    h3 {
        font-weight: 500;
    }
    a.button {
        display: inline-block;
    }
}

.profile-cover-delete {
    margin-top: 1em;
    text-align: right;
}

.profile-fields {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.profile-settings {
    padding: 1em;
    .new-password {
        @media screen and (min-width: $query__small) {
            div {
                margin-right: 1em;
            }
        }
    }
    .profile-submit {
        margin-top: 1em;
        text-align: right;
    }
}
.profile-edit {
    display: grid;
    @media screen and (min-width: $query__medsmall) {
        grid-gap: 1em;
        grid-template-columns: 48% 48%;
        .textbox-field {
            grid-column: span 2;
        }
    }
}

.field-value {
    @extend em;
    margin-bottom: 1em;
}

.members-list {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-left: 0;
    .member-img {
        flex: 0 0 105px;
        @media screen and (max-width: $query__small) {
            display: none;
        }
    }
    li { // Members as they appear in the directory
        align-items: center;
        border: 1px dashed $color__card-border;
        padding: .2em;
        .field-value {
            @include font-size(.8);
            margin: 0;
        }
    }
}
.members-cats {
    border: 1px solid $color__input-border;
    padding: 1em;
}

.map-infobox {
    background: rgba(255, 255, 255, 0.80);
    padding: 5px;
    width: 90px;
}

.buddypress.widget {
    .widget-error {
        @extend em;
        padding: .5em;
    }
    .item-options {
        @extend .settings-subnav;
        margin: 0;
        .bp-separator {
            display: none;
        }
    }
}
.widget_bp_core_members_widget {
	ul {
        list-style: none;
        margin: 0 0 .5em;
		padding: 0;
        .vcard {
            display: flex;
            .item-avatar {
                margin: .3em .5em .5em;
                width: 43px;
            }
            .item-title {
                @include font-size(.9);
            }
            .item-meta {
                @include font-size(.8);
            }
        }
	}
}
.widget_bp_core_login_widget {
    .bp-login-widget-user-avatar {
        float: left;
        margin: .5em;
    }
    .bp-login-widget-user-links {
        margin-top: .5em;
        padding: 0 .5em .5em;
        text-align: right;
        .bp-login-widget-user-logout {
            @include font-size(.8);
        }
    }
    #bp-login-widget-form {
        margin-bottom: 2.5em;
        padding: 1em;
    }
    #bp-login-widget-submit {
        background: $color__input;
        color: $color__label;
        float: right;
        &:hover, &:focus {
            background: $color__second-input-hover;
        }
    }
}
.widget_bp_core_recently_active_widget,
.widget_bp_core_whos_online_widget {
    .avatar-block {
        display: flex;
        flex-wrap: wrap;
        .item-avatar {
            flex: 0 0 10%;
        }
    }
}