a.event-rsvp {
	align-self: center;
}
.event-meta {
    justify-content: space-between;
    margin-top: 1.2em;
}
.event-date, .event-location {
	text-align: center;
}
.event-date {
    margin: 1.2em 0 0;
    h2 { margin-bottom: .2em; }
    h3 { margin: 0; }
}
.event-location {
	margin: .5em 0 1em;
}
.get-directions {
	@include font-size(.8);
	text-align: right;
}
.EO_Event_List_Widget {
    p {
        @include font-size(.8);
    }
}

.archive-deal article,
.archive-event article {
    margin-top: 1em;
}

.single-job {
    display: grid;
    @media screen and (min-width: $query__med) {
        grid-template-columns: minmax(220px, 30%) 68%;
    }
}
.job-button {
    text-align: right;
}
.event-img, .deal-img {
    background: $color__gray_light;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    @include font-size(1.2);
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.event-img {
    object-fit: cover;
}
.EO_Event_List_Widget,
.eo_widget_calendar {
    border: 1px solid $color__card-border;
}
.EO_Event_List_Widget {
    article {
		align-items: center;
        justify-content: space-evenly;
        padding: .5em 0;
		h4, p {
			margin: 0;
		}
		a {
			color: $color__secondary-dark;
		}
		section {
			flex: 0 0 75%;
		}
    }
    .featured-entry {
		background: lighten($color__primary-light, 10%);
    }
	.entry-time {
		margin: .5em;
		padding: .5em;
		text-align: center;
		.day {
			margin-top: -7px;
			font-size: 1.5em;
		}
	}
}
.eo-widget-cal-wrap {
    padding: 1em .5em 0;
    thead {
        background: lighten($color__card-border, 1%);
        height: 45px;
    }
    .eo-event-future {
        font-weight: bold;
        &:hover, &:focus {
            background: $color__card-border;
        }
    }
    #eo-widget-next-month {
        text-align: right;
    }
}
.deal-archive,
.job-archive {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 48%));
}
.single-deal {
    border: 2px dashed $color__gray;
    margin-bottom: 1em;
    padding: 1em;
}
.deal-meta {
    align-items: center;
    p {
        margin: 0 0 0 .5em;
    }
}
.deal-footer {
    align-items: flex-end;
    justify-content: space-between;
    .deal-button {
        margin-left: auto;
    }
}
.deal-img {
    background-size: contain;
    flex: 0 0 30%;
}
.deal-content {
    padding-left: 1em;
}

.deal-meta {
    margin: .5em 0;
    .deal-expires {
        color: $color__gray-dark;
    }
}
.deal-code {
    font-family: monospace;
    margin: 0;
}


@media screen and (min-width: $query__med + .001em) {
    .job-header {
        flex: 0 0 25%;
    }
    .job-content {
        margin: .5em 0 .2em 1em;
    }
    .event-img {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .event-content {
        padding-left: 1em;
    }
    .event-date h2 {
        margin-top: 0;
    }
}
@media screen and (max-width: $query__med) {
    .job-header {
        flex: 0 0 100%;
    }
    .event-img {
        height: 100px;
        width: 100%;
    }
}