.breadcrumbs {
    @include font-size(.8);
    color: $color__gray-dark;
    margin-bottom: 1em;
}

.entry-title {
	display: inline;
}

.entry-footer-meta,
.entry-meta, {
	color: $color__gray-dark;
	@include font-size(.9);
}

.blog article {
	margin-bottom: 1em;
}

.edit-links {
	text-align: right;
}

.readmore {
	margin-right: .5em;
	text-align: right;
}
.nextprev-navigation {
	justify-content: space-between;
	a:last-child {
		text-align: right;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation,
.entry-meta,
.entry-footer,
.featured-img {
	margin: 1em 0;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published){
	display: none;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.single .entry-content {
	line-height: 1.8em;
}

.nav-links {
	display: flex;
	justify-content: space-between;
}

.error-404 {
	text-align: center;
	.search-form {
		margin: 2em auto;
		max-width: 500px;
	}
}

.sticky {
	.entry-title {
		background: $color__highlight;
		padding: .1em;
	}
}
.news {
	h2 {
		@include font-size(2.5);
	}
	.entry-content {
		color: $color__gray-dark;
		margin-top: .5em;
	}
}