$query__small: 32em;
$query__login-medsmall: 35em;
$query__medsmall: 700px;
$query__med: 54em;
$query__large: 68.75em;
$query__xlarge: 1800px;


$border_radius__input: 6px !default;
$border_radius__button: 2px !default;
$height__input: 42px !default;
$padding__select: 1.125em !default;