@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Inter-Regular.woff2?v=3.15') format("woff2"),
       url('../assets/fonts/Inter-Regular.woff?v=3.15') format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Inter-Italic.woff2?v=3.15') format("woff2"),
       url('../assets/fonts/Inter-Italic.woff?v=3.15') format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Inter-Bold.woff2?v=3.15') format("woff2"),
       url('../assets/fonts/Inter-Bold.woff?v=3.15') format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/Inter-Black.woff2?v=3.15') format("woff2"),
       url('../assets/fonts/Inter-Black.woff?v=3.15') format("woff");
}

$font__main: Inter, Calibri, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__serif: 'Lora', serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;